#u1005
{
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	position: relative;
}

#u1008-4
{
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	font-weight: bold;
	position: relative;
}

#u1006,#u2615-8
{
	position: relative;
}

#u2615-2
{
	font-size: 8px;
	line-height: 10px;
	color: #7F7F7F;
	font-weight: bold;
}

#u2615-3,#u2615-5
{
	font-size: 8px;
	line-height: 10px;
	color: #7F7F7F;
}

