.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1600px;
	min-height: 970px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -5px;
}

#u1005
{
	z-index: 2;
	width: 1612px;
	padding-bottom: 14px;
}

#u1006
{
	z-index: 3;
	width: 57px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 341px;
}

#u1008-4
{
	z-index: 5;
	width: 513px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 667px;
}

#pamphletu1011
{
	z-index: 17;
	width: 0.01px;
	height: 252px;
	padding-bottom: 435px;
	margin-left: 343px;
	margin-top: 40px;
	position: relative;
}

#u1032
{
	position: absolute;
	width: 649px;
	left: 267px;
}

#u1032popup
{
	z-index: 18;
}

#u1273
{
	z-index: 19;
	width: 627px;
	height: 556px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 22px;
	padding-top: 67px;
	padding-bottom: 64px;
	margin-right: -10000px;
	position: relative;
}

#pu1491
{
	width: 0.01px;
	position: relative;
}

#u1491
{
	z-index: 65;
	width: 105px;
	position: relative;
	margin-right: -10000px;
}

#u1280-6
{
	z-index: 25;
	width: 332px;
	min-height: 66px;
	line-height: 34px;
	font-size: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 139px;
}

#ppu1281-11
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 12px;
	position: relative;
}

#pu1281-11
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u1281-11
{
	z-index: 54;
	width: 312px;
	min-height: 151px;
	text-align: justify;
	position: relative;
}

#u1276-7
{
	z-index: 31;
	width: 312px;
	min-height: 140px;
	text-align: justify;
	margin-left: 1px;
	margin-top: 13px;
	position: relative;
}

#u1287-5
{
	z-index: 20;
	width: 312px;
	min-height: 63px;
	line-height: 14px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 12px;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u1287-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#pu1279-10
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 332px;
}

#u1279-10
{
	z-index: 38;
	width: 286px;
	min-height: 226px;
	text-align: justify;
	margin-left: 1px;
	position: relative;
}

#u1281-2,#u1276-2,#u1279-2,#u1279-3
{
	font-size: 18px;
	line-height: 22px;
	color: #2673B9;
	font-weight: bold;
}

#u1281-7,#u1279-6
{
	font-size: 12px;
	color: #7F7F7F;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1281-5,#u1287,#u1279-4
{
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
}

#u1281-4,#u1281-6,#u1287-2,#u1279-5
{
	line-height: 14px;
}

#u1281-3,#u1281-9,#u1276-3,#u1276-5,#u1279-8
{
	font-size: 12px;
	line-height: 14px;
	color: #7F7F7F;
}

#u1277
{
	z-index: 48;
	width: 292px;
	position: relative;
}

#u1284-4
{
	z-index: 50;
	width: 107px;
	min-height: 12px;
	line-height: 13px;
	color: #6A6A6A;
	font-size: 11px;
	margin-left: 335px;
	margin-top: 5px;
	position: relative;
}

#u1175
{
	z-index: 67;
	width: 594px;
	height: 616px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 49px 36px 22px 19px;
}

#pu1265
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u1265
{
	z-index: 356;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1269
{
	z-index: 358;
	width: 105px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 119px;
}

#u1263
{
	z-index: 360;
	width: 101px;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#u1263_clip
{
	overflow: hidden;
	width: 101px;
	height: 63px;
}

#u1263_img
{
	margin-top: 4px;
	margin-bottom: -4px;
}

#u1267
{
	z-index: 362;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 349px;
}

#u1178
{
	z-index: 364;
	width: 112px;
	position: relative;
	margin-right: -10000px;
	left: 455px;
}

#pamphletu1180
{
	z-index: 68;
	width: 0.01px;
	height: 192px;
	padding-bottom: 345px;
	margin-left: 8px;
	margin-top: 12px;
	position: relative;
}

#u1185
{
	position: absolute;
	width: 581px;
	top: 206px;
	left: 5px;
}

#u1185popup
{
	z-index: 69;
}

#u1216
{
	z-index: 70;
	width: 581px;
	height: 331px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#pu1219
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 9px;
}

#u1219
{
	z-index: 96;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1218-4
{
	z-index: 92;
	width: 255px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	margin-left: 13px;
	margin-top: 47px;
	position: relative;
}

#u2675
{
	z-index: 71;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 37px;
	position: relative;
	margin-right: -10000px;
	left: 291px;
}

#u1217-20
{
	z-index: 72;
	width: 260px;
	min-height: 258px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 14px;
}

#u1191
{
	z-index: 98;
	width: 581px;
	height: 331px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#u2677
{
	z-index: 99;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1192-20
{
	z-index: 100;
	width: 239px;
	min-height: 299px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 36px;
}

#u1193-4
{
	z-index: 120;
	width: 244px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 27px;
}

#u1194
{
	z-index: 124;
	width: 303px;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 7px;
}

#u1211
{
	z-index: 126;
	width: 581px;
	height: 331px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#u2678
{
	z-index: 127;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 41px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1212-18
{
	z-index: 128;
	width: 265px;
	min-height: 262px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 12px;
}

#u1215-4
{
	z-index: 146;
	width: 243px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 28px;
}

#u1213
{
	z-index: 150;
	width: 283px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 8px;
}

#u1201
{
	z-index: 152;
	width: 581px;
	height: 331px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#u2679
{
	z-index: 153;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 32px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1205-18
{
	z-index: 154;
	width: 240px;
	min-height: 266px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 30px;
}

#u1203
{
	z-index: 172;
	width: 318px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 6px;
}

#u1202-4
{
	z-index: 174;
	width: 260px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 13px;
}

#u1196
{
	z-index: 178;
	width: 581px;
	height: 331px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#u2680
{
	z-index: 179;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1199-18
{
	z-index: 180;
	width: 245px;
	min-height: 265px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 31px;
}

#u1197
{
	z-index: 198;
	width: 310px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 4px;
}

#u1200-4
{
	z-index: 200;
	width: 253px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 20px;
}

#u1226
{
	z-index: 204;
	width: 581px;
	height: 331px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#u2681
{
	z-index: 205;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 53px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1227-19
{
	z-index: 206;
	width: 249px;
	min-height: 229px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 30px;
}

#u1227-3
{
	color: #FFFFFF;
}

#u1228
{
	z-index: 225;
	width: 324px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 5px;
}

#u1230-4
{
	z-index: 227;
	width: 253px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 21px;
}

#u1186
{
	z-index: 231;
	width: 581px;
	height: 331px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#u2682
{
	z-index: 232;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 38px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1190-18
{
	z-index: 233;
	width: 251px;
	min-height: 258px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 19px;
}

#u1189-4
{
	z-index: 251;
	width: 243px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 245px;
	left: 23px;
}

#u1187
{
	z-index: 255;
	width: 271px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 23px;
}

#u1221
{
	z-index: 257;
	width: 581px;
	height: 331px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#pu1223
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 16px;
}

#u1223
{
	z-index: 281;
	width: 251px;
	margin-left: 5px;
	position: relative;
}

#u1225-4
{
	z-index: 277;
	width: 262px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	margin-top: 33px;
	position: relative;
}

#u2683
{
	z-index: 258;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1222-18
{
	z-index: 259;
	width: 243px;
	min-height: 255px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 23px;
}

#u1206
{
	z-index: 283;
	width: 581px;
	height: 331px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#pu1209
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 13px;
}

#u1209
{
	z-index: 308;
	width: 259px;
	position: relative;
}

#u1207-4
{
	z-index: 304;
	width: 254px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	margin-left: 3px;
	margin-top: 23px;
	position: relative;
}

#u2684
{
	z-index: 284;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1208-19
{
	z-index: 285;
	width: 251px;
	min-height: 227px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 19px;
}

#u1227-5,#u1227-6,#u1208-3,#u1208-5,#u1208-6
{
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
}

#u1227-17,#u1208-17
{
	font-size: 13px;
	line-height: 16px;
	color: #7F7F7F;
}

#u1231
{
	z-index: 310;
	width: 551px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 16px;
}

#u1244
{
	position: absolute;
	width: 107px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 3px;
	top: -4px;
	left: -16px;
}

#u1244:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1245-4
{
	z-index: 312;
	width: 70px;
	min-height: 16px;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 16px;
}

#u1244:hover #u1245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 4px -10000px 0px 0px;
}

#u1232
{
	position: absolute;
	width: 107px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 1px;
	top: -3px;
	left: 101px;
}

#u1244.PamphletThumbSelected,#u1232:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1233-4
{
	z-index: 317;
	width: 80px;
	min-height: 16px;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 14px;
}

#u1244.PamphletThumbSelected #u1245-4,#u1232:hover #u1233-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 4px -10000px 0px 0px;
}

#u1242
{
	position: absolute;
	width: 107px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 5px;
	top: -3px;
	left: 218px;
}

#u1232.PamphletThumbSelected,#u1242:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1243-4
{
	z-index: 322;
	width: 95px;
	min-height: 17px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u1242:hover #u1243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 6px -10000px 0px 0px;
}

#u1242.PamphletThumbSelected #u1243-4 p
{
	font-size: 14px;
	line-height: 1.4;
}

#u1240
{
	position: absolute;
	width: 107px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 2px;
	top: -2px;
	left: 335px;
}

#u1242.PamphletThumbSelected,#u1240:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1241-4
{
	z-index: 327;
	width: 60px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 24px;
}

#u1240:hover #u1241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 3px -10000px 0px 0px;
}

#u1248
{
	position: absolute;
	width: 107px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 4px;
	top: -2px;
	left: 452px;
}

#u1248:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1249-4
{
	z-index: 332;
	width: 93px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#u1248:hover #u1249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 4px -10000px 0px 0px;
}

#u1246
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 2px;
	top: 159px;
	left: -16px;
}

#u1246:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1247-4
{
	z-index: 337;
	width: 99px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 17px;
}

#u1240.PamphletThumbSelected #u1241-4,#u1246:hover #u1247-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 3px -10000px 0px 0px;
}

#u1236
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	top: 159px;
	left: 130px;
}

#u1236:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1237-4
{
	z-index: 342;
	width: 96px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 18px;
}

#u1236:hover #u1237-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u1234
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 4px;
	top: 159px;
	left: 276px;
}

#u1234:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1235-4
{
	z-index: 347;
	width: 124px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#u1248.PamphletThumbSelected #u1249-4,#u1234:hover #u1235-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 4px -10000px 0px 0px;
}

#u1238
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 2px;
	top: 159px;
	left: 422px;
}

#u1238:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1239-4
{
	z-index: 352;
	width: 88px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 23px;
}

#u1246.PamphletThumbSelected #u1247-4,#u1238:hover #u1239-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 3px -10000px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu1176
{
	width: 0.01px;
	top: -487px;
	margin-bottom: -103px;
	position: relative;
}

#u1176
{
	z-index: 366;
	width: 137px;
	position: relative;
	margin-right: -10000px;
}

#u1271
{
	z-index: 368;
	width: 120px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 152px;
}

#u1259
{
	z-index: 370;
	width: 126px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 298px;
}

#u1261
{
	z-index: 372;
	width: 140px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 435px;
}

#u1104
{
	z-index: 374;
	width: 649px;
	height: 687px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pamphletu1109
{
	z-index: 375;
	width: 0.01px;
	height: 190px;
	padding-bottom: 320px;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 27px;
}

#u1110
{
	position: absolute;
	width: 581px;
	top: 204px;
}

#u1110popup
{
	z-index: 376;
}

#u1126
{
	z-index: 377;
	width: 581px;
	height: 306px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#pu1127
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 12px;
}

#u1127
{
	z-index: 392;
	width: 213px;
	margin-left: 29px;
	position: relative;
}

#u1130-4
{
	z-index: 388;
	width: 270px;
	min-height: 40px;
	line-height: 10px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 8px;
	font-style: italic;
	margin-top: 36px;
	position: relative;
}

#u2686
{
	z-index: 378;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 65px;
	position: relative;
	margin-right: -10000px;
	left: 289px;
}

#u1129-9
{
	z-index: 379;
	width: 251px;
	min-height: 191px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 19px;
}

#u1111
{
	z-index: 394;
	width: 581px;
	height: 306px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#pu1114
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 18px;
}

#u1114
{
	z-index: 407;
	width: 226px;
	margin-left: 19px;
	position: relative;
}

#u1113-4
{
	z-index: 403;
	width: 252px;
	min-height: 40px;
	line-height: 11px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 9px;
	font-style: italic;
	margin-top: 18px;
	position: relative;
}

#u2687
{
	z-index: 395;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 65px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1112-7
{
	z-index: 396;
	width: 247px;
	min-height: 208px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 21px;
}

#u1280-2,#u1192-3,#u1112-3
{
	font-weight: normal;
}

#u1192-5,#u1192-6,#u1112-5
{
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
}

#u1121
{
	z-index: 409;
	width: 581px;
	height: 306px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#pu1123
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 15px;
}

#u1123
{
	z-index: 422;
	width: 257px;
	position: relative;
}

#u1125-4
{
	z-index: 418;
	width: 263px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	margin-top: 41px;
	position: relative;
}

#u2688
{
	z-index: 410;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 64px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1122-7
{
	z-index: 411;
	width: 249px;
	min-height: 192px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u1131
{
	z-index: 424;
	width: 581px;
	height: 306px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#pu1134
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 15px;
}

#u1134
{
	z-index: 437;
	width: 237px;
	margin-left: 14px;
	position: relative;
}

#u1133-4
{
	z-index: 433;
	width: 266px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	margin-top: 33px;
	position: relative;
}

#u2689
{
	z-index: 425;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 64px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1132-7
{
	z-index: 426;
	width: 240px;
	min-height: 193px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 24px;
}

#u1116
{
	z-index: 439;
	width: 581px;
	height: 306px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#pu1118
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 7px;
}

#u1118
{
	z-index: 460;
	width: 257px;
	margin-left: 7px;
	position: relative;
}

#u1120-4
{
	z-index: 456;
	width: 271px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	margin-top: 47px;
	position: relative;
}

#u2690
{
	z-index: 440;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 50px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1117-15
{
	z-index: 441;
	width: 240px;
	min-height: 221px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 24px;
}

#u1136
{
	z-index: 462;
	width: 581px;
	height: 306px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#pu1139
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 10px;
}

#u1139
{
	z-index: 475;
	width: 237px;
	margin-left: 16px;
	position: relative;
}

#u1137-4
{
	z-index: 471;
	width: 268px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	margin-top: 21px;
	position: relative;
}

#u2691
{
	z-index: 463;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 72px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1138-7
{
	z-index: 464;
	width: 240px;
	min-height: 177px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 24px;
}

#u1147
{
	z-index: 477;
	width: 531px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 25px;
}

#u1158
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 5px;
	top: -5px;
	left: -6px;
}

#u1158:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1159-4
{
	z-index: 479;
	width: 118px;
	min-height: 16px;
	background-color: transparent;
	line-height: 21px;
	color: #FFFFFF;
	font-size: 15px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u1158:hover #u1159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 6px -10000px 0px 0px;
}

#u1158.PamphletThumbSelected #u1159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 6px -10000px 0px 0px;
}

#u1158.PamphletThumbSelected #u1159-4 p
{
	font-size: 15px;
	line-height: 1.4;
}

#u1152
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 2px;
	top: -3px;
	left: 198px;
}

#u1158.PamphletThumbSelected,#u1152:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1153-4
{
	z-index: 484;
	width: 115px;
	min-height: 16px;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 10px;
}

#u1152:hover #u1153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#u1156
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 3px;
	top: -4px;
	left: 402px;
}

#u1152.PamphletThumbSelected,#u1156:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1157-4
{
	z-index: 489;
	width: 122px;
	min-height: 17px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u1242.PamphletThumbSelected #u1243-4,#u1156:hover #u1157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 6px -10000px 0px 0px;
}

#u1156.PamphletThumbSelected #u1157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 6px -10000px 0px 0px;
}

#u1148
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 4px;
	top: 158px;
	left: -6px;
}

#u1156.PamphletThumbSelected,#u1148:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1149-4
{
	z-index: 494;
	width: 124px;
	min-height: 19px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#u1148:hover #u1149-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 4px -10000px 0px 0px;
}

#u1148.PamphletThumbSelected #u1149-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 4px -10000px 0px 0px;
}

#u1149
{
	font-size: 16px;
}

#u1154
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 4px;
	top: 158px;
	left: 198px;
}

#u1154:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1155-4
{
	z-index: 499;
	width: 120px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u1234.PamphletThumbSelected #u1235-4,#u1154:hover #u1155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 4px -10000px 0px 0px;
}

#u1154.PamphletThumbSelected #u1155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 4px -10000px 0px 0px;
}

#u1150
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 3px;
	top: 158px;
	left: 402px;
}

#u1150:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1151-4
{
	z-index: 504;
	width: 123px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u1236.PamphletThumbSelected #u1237-4,#u1150:hover #u1151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#pu1105
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 46px;
}

#u1105
{
	z-index: 508;
	width: 95px;
	margin-left: 15px;
	position: relative;
}

#u1167
{
	z-index: 514;
	width: 125px;
	margin-top: 84px;
	position: relative;
}

#pu1171
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 256px;
}

#u1171
{
	z-index: 510;
	width: 87px;
	margin-left: 19px;
	position: relative;
}

#u1165
{
	z-index: 516;
	width: 125px;
	margin-top: 96px;
	position: relative;
}

#pu1169
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 465px;
}

#u1169
{
	z-index: 512;
	width: 108px;
	margin-left: 3px;
	position: relative;
}

#u1107
{
	z-index: 518;
	width: 115px;
	margin-top: 69px;
	position: relative;
}

#u1033
{
	z-index: 520;
	width: 649px;
	height: 687px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pamphletu1038
{
	z-index: 521;
	width: 0.01px;
	height: 191px;
	padding-bottom: 372px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 21px;
}

#u1054
{
	position: absolute;
	width: 581px;
	top: 205px;
}

#u1054popup
{
	z-index: 522;
}

#u1055
{
	z-index: 523;
	width: 581px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#pu1056
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 10px;
}

#u1056
{
	z-index: 557;
	width: 232px;
	margin-left: 24px;
	position: relative;
}

#u1058-6
{
	z-index: 551;
	width: 270px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	margin-top: 24px;
	position: relative;
}

#u2692
{
	z-index: 524;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 53px;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u1059-26
{
	z-index: 525;
	width: 254px;
	min-height: 273px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 17px;
}

#u1217-3,#u1217-5,#u1217-6,#u1129-5,#u1129-7,#u1059-5,#u1059-7,#u1059-9,#u1059-11,#u1059-13,#u1059-14
{
	font-size: 13px;
	text-align: left;
	line-height: 16px;
}

#u1217-8,#u1217-10,#u1217-12,#u1217-14,#u1217-16,#u1217-18,#u1059-16,#u1059-18,#u1059-20,#u1059-22,#u1059-24
{
	font-size: 13px;
	text-align: left;
	line-height: 16px;
	font-weight: bold;
}

#u1060
{
	z-index: 559;
	width: 581px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#u2693
{
	z-index: 560;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 290px;
}

#u1064-27
{
	z-index: 561;
	width: 246px;
	min-height: 278px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 27px;
}

#u1227-2,#u1208-2,#u1064-2
{
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
}

#u1064-3
{
	color: #FFFFFF;
	font-weight: normal;
}

#u1064-5,#u1064-7,#u1064-9,#u1064-11,#u1064-12
{
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	font-weight: normal;
}

#u1227-8,#u1227-10,#u1227-12,#u1227-14,#u1227-16,#u1208-8,#u1208-10,#u1208-12,#u1208-14,#u1208-16,#u1064-14,#u1064-16,#u1064-18,#u1064-20,#u1064-22,#u1064-24
{
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	font-weight: bold;
}

#u1064-25
{
	font-size: 13px;
	line-height: 16px;
	color: #7F7F7F;
	font-weight: normal;
}

#u1063-4
{
	z-index: 588;
	width: 268px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 13px;
}

#u1061
{
	z-index: 592;
	width: 285px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 13px;
}

#u1070
{
	z-index: 594;
	width: 581px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#u2694
{
	z-index: 595;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 290px;
}

#u1072-23
{
	z-index: 596;
	width: 245px;
	min-height: 259px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 33px;
}

#u1071-4
{
	z-index: 619;
	width: 267px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 14px;
}

#u1073
{
	z-index: 623;
	width: 307px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 14px;
}

#u1213_img,#u1073_img
{
	padding-right: 1px;
}

#u1065
{
	z-index: 625;
	width: 581px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#pu1068
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 8px;
}

#u1068
{
	z-index: 655;
	width: 282px;
	position: relative;
}

#u1066-4
{
	z-index: 651;
	width: 270px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	margin-left: 6px;
	margin-top: 32px;
	position: relative;
}

#u2695
{
	z-index: 626;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 291px;
}

#u1067-24
{
	z-index: 627;
	width: 244px;
	min-height: 273px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 23px;
}

#u1080
{
	z-index: 657;
	width: 581px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#u2696
{
	z-index: 658;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 52px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 290px;
}

#u1084-18
{
	z-index: 659;
	width: 247px;
	min-height: 278px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 32px;
}

#u1081-4
{
	z-index: 677;
	width: 268px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 8px;
}

#u1082
{
	z-index: 681;
	width: 313px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 8px;
}

#u1075
{
	z-index: 683;
	width: 581px;
	height: 358px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E5E5;
	margin-right: -10000px;
	position: relative;
}

#u2697
{
	z-index: 684;
	width: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	padding-bottom: 73px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 290px;
}

#u1076-18
{
	z-index: 685;
	width: 229px;
	min-height: 212px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 42px;
}

#u1217-2,#u1192-2,#u1212-2,#u1205-2,#u1199-2,#u1190-2,#u1222-2,#u1129-2,#u1129-4,#u1112-2,#u1122-2,#u1132-2,#u1117-2,#u1138-2,#u1059-2,#u1059-3,#u1072-2,#u1067-2,#u1084-2,#u1076-2
{
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
}

#u1212-5,#u1205-5,#u1205-6,#u1199-5,#u1199-6,#u1190-3,#u1190-5,#u1190-6,#u1222-3,#u1222-5,#u1222-6,#u1122-5,#u1132-5,#u1117-5,#u1117-7,#u1117-9,#u1117-11,#u1117-13,#u1138-5,#u1072-4,#u1072-6,#u1072-8,#u1072-10,#u1072-11,#u1067-5,#u1067-7,#u1067-9,#u1067-11,#u1067-12,#u1084-5,#u1084-7,#u1084-8,#u1084-10,#u1084-12,#u1084-14,#u1084-16,#u1076-5,#u1076-6
{
	font-size: 13px;
	line-height: 16px;
}

#u1192-8,#u1192-10,#u1192-12,#u1192-14,#u1192-16,#u1192-18,#u1212-6,#u1212-8,#u1212-10,#u1212-12,#u1212-14,#u1212-16,#u1205-8,#u1205-10,#u1205-12,#u1205-14,#u1205-16,#u1199-8,#u1199-10,#u1199-12,#u1199-14,#u1199-16,#u1190-8,#u1190-10,#u1190-12,#u1190-14,#u1190-16,#u1222-8,#u1222-10,#u1222-12,#u1222-14,#u1222-16,#u1072-13,#u1072-15,#u1072-17,#u1072-19,#u1072-21,#u1067-14,#u1067-16,#u1067-18,#u1067-20,#u1067-22,#u1076-8,#u1076-10,#u1076-12,#u1076-14,#u1076-16
{
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
}

#u1079-4
{
	z-index: 703;
	width: 267px;
	min-height: 40px;
	line-height: 12px;
	color: #7F7F7F;
	text-align: justify;
	font-size: 10px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 273px;
	left: 12px;
}

#u1077
{
	z-index: 707;
	width: 316px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 7px;
}

#u1077_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u1039
{
	z-index: 709;
	width: 481px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 32px;
}

#u1046
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 3px;
	top: -3px;
	left: -32px;
}

#u1046:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1047-4
{
	z-index: 711;
	width: 59px;
	min-height: 16px;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 38px;
}

#u1232.PamphletThumbSelected #u1233-4,#u1046:hover #u1047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 4px -10000px 0px 0px;
}

#u1046.PamphletThumbSelected #u1047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 4px -10000px 0px 0px;
}

#u1044
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 2px;
	top: -1px;
	left: 172px;
}

#u1046.PamphletThumbSelected,#u1044:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1045-4
{
	z-index: 716;
	width: 77px;
	min-height: 16px;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 29px;
}

#u1152.PamphletThumbSelected #u1153-4,#u1044:hover #u1045-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#u1044.PamphletThumbSelected #u1045-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 3px -10000px 0px 0px;
}

#u1040
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 2px;
	top: -2px;
	left: 377px;
}

#u1044.PamphletThumbSelected,#u1040:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1041-4
{
	z-index: 721;
	width: 70px;
	min-height: 17px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 35px;
}

#u1040:hover #u1041-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 4px -10000px 0px 0px;
}

#u1040.PamphletThumbSelected #u1041-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 4px -10000px 0px 0px;
}

#u1244.PamphletThumbSelected #u1245-4 p,#u1232.PamphletThumbSelected #u1233-4 p,#u1152.PamphletThumbSelected #u1153-4 p,#u1044.PamphletThumbSelected #u1045-4 p,#u1040.PamphletThumbSelected #u1041-4 p
{
	font-size: 18px;
	line-height: 1.4;
}

#u1050
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 3px;
	top: 160px;
	left: -32px;
}

#u1040.PamphletThumbSelected,#u1050:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1051-4
{
	z-index: 726;
	width: 73px;
	min-height: 19px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 32px;
}

#u1050:hover #u1051-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 2px -10000px 0px 0px;
}

#u1050.PamphletThumbSelected #u1051-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 2px -10000px 0px 0px;
}

#u1248.PamphletThumbSelected #u1249-4 p,#u1234.PamphletThumbSelected #u1235-4 p,#u1148.PamphletThumbSelected #u1149-4 p,#u1148.PamphletThumbSelected #u1149-4 span,#u1154.PamphletThumbSelected #u1155-4 p,#u1050.PamphletThumbSelected #u1051-4 p
{
	font-size: 16px;
	line-height: 1.4;
}

#u1042
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 3px;
	top: 160px;
	left: 173px;
}

#u1042:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1240.PamphletThumbSelected,#u1248.PamphletThumbSelected,#u1148.PamphletThumbSelected,#u1154.PamphletThumbSelected,#u1050.PamphletThumbSelected,#u1042.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	margin: 0px;
}

#u1043-4
{
	z-index: 731;
	width: 67px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 34px;
}

#u1042:hover #u1043-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 2px -10000px 0px 0px;
}

#u1042.PamphletThumbSelected #u1043-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 2px -10000px 0px 0px;
}

#u1048
{
	position: absolute;
	width: 136px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 2px;
	top: 160px;
	left: 377px;
}

#u1048:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1246.PamphletThumbSelected,#u1236.PamphletThumbSelected,#u1234.PamphletThumbSelected,#u1238.PamphletThumbSelected,#u1150.PamphletThumbSelected,#u1048.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #2673B9;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	margin: 0px;
}

#u1049-4
{
	z-index: 736;
	width: 72px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 30px;
}

#u1238.PamphletThumbSelected #u1239-4,#u1048:hover #u1049-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 3px -10000px 0px 0px;
}

#u1048.PamphletThumbSelected #u1049-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 3px -10000px 0px 0px;
}

#u1240.PamphletThumbSelected #u1241-4 p,#u1246.PamphletThumbSelected #u1247-4 p,#u1236.PamphletThumbSelected #u1237-4 p,#u1238.PamphletThumbSelected #u1239-4 p,#u1156.PamphletThumbSelected #u1157-4 p,#u1150.PamphletThumbSelected #u1151-4 p,#u1046.PamphletThumbSelected #u1047-4 p,#u1042.PamphletThumbSelected #u1043-4 p,#u1048.PamphletThumbSelected #u1049-4 p
{
	line-height: 1.4;
}

#pu1100
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 26px;
}

#u1100
{
	z-index: 740;
	width: 101px;
	margin-left: 29px;
	position: relative;
}

#u1098
{
	z-index: 746;
	width: 125px;
	margin-top: 81px;
	position: relative;
}

#pu1094
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 221px;
}

#u1094
{
	z-index: 742;
	width: 112px;
	margin-left: 35px;
	position: relative;
}

#u1036
{
	z-index: 748;
	width: 138px;
	margin-top: 84px;
	position: relative;
}

#pu1034
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 424px;
}

#u1034
{
	z-index: 744;
	width: 137px;
	margin-left: 22px;
	position: relative;
}

#u1102
{
	z-index: 750;
	width: 136px;
	margin-top: 92px;
	position: relative;
}

#u1012
{
	z-index: 752;
	width: 181px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 9px;
}

#u1017
{
	position: absolute;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 3px;
	top: -7px;
	left: -9px;
}

#u1017:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1018-4
{
	z-index: 754;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #2673B9;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u1017:hover #u1018-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u1017.PamphletThumbSelected #u1018-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u1017:hover #u1018-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1017.PamphletThumbSelected #u1018-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u1013
{
	position: absolute;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 3px;
	top: 33px;
	left: -9px;
}

#u1013:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1014-5
{
	z-index: 759;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #2673B9;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u1013:hover #u1014-5
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u1013.PamphletThumbSelected #u1014-5
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u1013:hover #u1014-5 p,#u1013:hover #u1014-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1019
{
	position: absolute;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 4px;
	top: 73px;
	left: -9px;
}

#u1013.PamphletThumbSelected,#u1019:hover
{
	background-color: #2673B9;
	margin: 0px;
}

#u1019.PamphletThumbSelected
{
	background-color: #2673B9;
	margin: 0px;
}

#u1020-4
{
	z-index: 765;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #2673B9;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u1019:hover #u1020-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u1019.PamphletThumbSelected #u1020-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u1019:hover #u1020-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1013.PamphletThumbSelected #u1014-5 p,#u1013.PamphletThumbSelected #u1014-5 span,#u1019.PamphletThumbSelected #u1020-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.4;
}

#u1015
{
	position: absolute;
	width: 202px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	padding-bottom: 5px;
	top: 113px;
	left: -9px;
}

#u1017.PamphletThumbSelected,#u1015:hover
{
	background-color: #2673B9;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	margin: 0px;
}

#u1015.PamphletThumbSelected
{
	background-color: #2673B9;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	margin: 0px;
}

#u1016-5
{
	z-index: 770;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #2673B9;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u1150.PamphletThumbSelected #u1151-4,#u1015:hover #u1016-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u1015.PamphletThumbSelected #u1016-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u1015:hover #u1016-5 p,#u1015:hover #u1016-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1015.PamphletThumbSelected #u1016-5 p,#u1015.PamphletThumbSelected #u1016-5 span
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1280-4,#u1014-2,#u1016-2
{
	font-weight: bold;
}

#pu1293-4
{
	width: 0.01px;
	margin-left: 349px;
	top: -409px;
	margin-bottom: -68px;
	position: relative;
}

#u1293-4
{
	z-index: 779;
	width: 156px;
	min-height: 15px;
	color: #2673B9;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 61px;
}

#u1475
{
	z-index: 791;
	width: 62px;
	position: relative;
	margin-right: -10000px;
}

#pu1469
{
	width: 0.01px;
	margin-left: 350px;
	top: -344px;
	margin-bottom: -66px;
	position: relative;
}

#u1469
{
	z-index: 787;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u1292-4
{
	z-index: 775;
	width: 156px;
	min-height: 15px;
	color: #2673B9;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 60px;
}

#pu1471
{
	width: 0.01px;
	margin-left: 350px;
	top: -281px;
	margin-bottom: -66px;
	position: relative;
}

#u1471
{
	z-index: 789;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u1469_img,#u1471_img
{
	padding-bottom: 1px;
}

#u1296-4
{
	z-index: 783;
	width: 156px;
	min-height: 15px;
	color: #2673B9;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 60px;
}

#u2615-8
{
	z-index: 9;
	width: 916px;
	min-height: 52px;
	margin-left: 342px;
	margin-top: 97px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

